:root {
  --neon: #ff14bd;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #241820;

  color: var(--neon);
  font-family: 'Patrick Hand', cursive;
  font-size: 300%;
}
