:root {
  --bg: #241820;
  --neon-on: #ff14bd;
  --neon-off: #34242f;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  width: 100%;
  background: var(--bg);

  font-family: 'Patrick Hand', cursive;
}

.btn-neon {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: all 75ms linear;
  cursor: pointer;

  display: inline-block;
  outline: none;
  border-radius: 0.35em;
  border: 0.125em solid var(--neon-off);
  background: transparent;
  padding: 0.5em 1em;

  color: var(--neon-off);
  font-family: inherit;
  font-size: 3rem;
  letter-spacing: 0.125em;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-neon:hover, .btn-neon.active {
  box-shadow:
    inset 0 0 0.4em var(--neon-on),
    0 0 0.5em var(--neon-on);
  text-shadow:
    0 0 0.25em #fff6,
    0 0 0.5em currentColor;

  border-color: var(--neon-on);
  color: var(--neon-on);
}

.btn-neon:hover::before, .btn-neon.active::before {
  content: '';

  position: absolute;
  top: 120%;
  left: 0;

  height: 100%;
  width: 100%;
  background: var(--neon-on);

  transform:
    perspective(1em)
    rotateX(40deg)
    scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.4;
  transition: all 75ms linear;
}

.btn-neon.active:hover {
  background: var(--neon-on);
  color: var(--bg);
  text-shadow: none;
}

.btn-neon.active:hover::before {
  opacity: 0.8;
}
